<ion-header>
  <ion-toolbar color="success">
    
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goToHome()">
        <ion-icon name="home-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-uppercase">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="ion-text-center">
    <ion-avatar class="center-avatar">
      <img src="../../assets/images/user.jpg" alt="usuario">
    </ion-avatar>
  </figure>

  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ion-list [inset]="true">
      <ion-item>
        <ion-input label="Email" type="email" formControlName="email" labelPlacement="floating" placeholder="Email"
          [clearInput]="true">
          <ion-icon slot="start" name="mail-outline" aria-hidden="false"></ion-icon>
        </ion-input>
        <ion-note *ngIf="isInvalid('email')" color="danger">{{ getErrorMessage('email') }} </ion-note>
      </ion-item>

      <ion-item>
        <ion-input label="Password" [type]="passwordHidden ? 'password' : 'text'" formControlName="password"
          placeholder="Password" labelPlacement="floating" [clearInput]="true">
          <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()"
            *ngIf="loginForm.get('password')?.value">
            <ion-icon [name]="passwordHidden ? 'eye' : 'eye-off'"></ion-icon>
          </ion-button>
        </ion-input>
        <ion-note *ngIf="isInvalid('password')" color="danger">{{ getErrorMessage('password') }}</ion-note>
      </ion-item>
      <div class="ion-text-center">
      <ion-button type="ngSubmit" fill="solid" shape="round" expand="block" [disabled]="!loginForm.valid"
        color="success">
        Login <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>

      <p>¿No tienes cuenta? <a style="text-decoration: none;" href="/register">Registrate aquí</a></p>
      </div>
    </ion-list>
  </form>

  <div class="validation-message">
    {{loginMessage}}
  </div>
</ion-content>