<div class="ion-page" id="main-content">
  <ion-header [collapse]>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="principal"></ion-menu-button>
      </ion-buttons>
      <ion-title><img src="../../assets/icon/easyticket1.jpg" style="max-width: 15%;"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <swiper-container>
      <swiper-slide class="fondo">
        <h1>App en progreso (Home)</h1>
        <!--2.Crear un boton en intro para omitir y regresar al home-->
      </swiper-slide>
    </swiper-container>
  </ion-content>

</div>