<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets\icon\easyticket1.jpg" style="max-width: 15%;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <swiper-container [loop]="true" [pagination]="true" >

    <swiper-slide>
      <img src="assets\icon\easyticket1.jpg" style="max-width: 35%;">
      <ion-button>Crea tu cuenta</ion-button>
      <ion-button>Ya tengo cuenta</ion-button>
    </swiper-slide>

    <swiper-slide>

      <h1>Mis Eventos</h1>

      <ion-card>
        <div style="margin-left: 5px; display: flex; align-items: center;">
          <img src="assets/icon/easyticket2.jpg" style="width: 20%; margin-right: 10px;">
          <div>
            <h2 style="text-align: left;">Karol G Bichota Season</h2>
            <p style="text-align: left;">2 Entradas</p>
          </div>
        </div>
      </ion-card>

      <ion-card>
        <div style="margin-left: 5px; display: flex; align-items: center;">
          <img src="assets/icon/easyticket2.jpg" style="width: 20%; margin-right: 10px;">
          <div>
            <h2 style="text-align: left;">Shakira SalPIQUE Tour</h2>
            <p style="text-align: left;">1 Entrada</p>
          </div>
        </div>
      </ion-card>

    </swiper-slide>

    <swiper-slide>
      <h1>Detalles evento</h1>
    </swiper-slide>

    <swiper-slide>
      <h1>¿Por qúe usar EasyTicket?</h1>
      <ion-card>
        <ion-card-title>Mejores precios garantizados</ion-card-title>
        <ion-card-content>Nuestra mejor garantía de precio elimina el estrés de los precios al
          comprar</ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-title>Precios Inicniales</ion-card-title>
        <ion-card-content>Nos aseguramos que el precio que ves es el que pagas</ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-title>respaldamos todas las entradas al 100%</ion-card-title>
        <ion-card-content>Sus entradas siempre serán válidas, y si el evento se cancela, le devolvemos su
          dinero</ion-card-content>
      </ion-card>
    </swiper-slide>

    <swiper-slide>

    </swiper-slide>
  </swiper-container>
</ion-content>